.card_details_container {
  outline: 1px solid;
  display: flex;
  justify-content: center;
  padding: 5px;
  flex-wrap: wrap;
  min-height: 110vh;
}
.card_details_container > * {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px;
}

.card_details_container > div:first-of-type {
  background-size: cover;
}
div.card_details_photo {
  background-position: center;
  background-size: cover;
}
.card_details_container p {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .card_details_container > * {
    width: 50%;
    min-height: 80vh;
  }
}

.container_items,
.container_items > * {
  text-transform: capitalize;
}
.container_items > div {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container_items > * {
  padding: 10px;
}
.container_items > div > * {
  padding: 0 10px 0 10px;
}

.container_items > div > ul > li {
  list-style: none;
}
