.container {
  padding: 16px;
  width: 100%;
  min-height: 100vh;
  background: black;
}

footer {
  width: 99vw;
  text-align: center;
  margin: 15px 0;
  position: fixed;
  bottom: -16px;
  background-color: black;
  padding: 15px;
  margin-left: -15px;
}
