.container_input {
  display: flex;
  position: relative;
}

.container_input input {
  all: unset;
  padding: 5px;
  border: 1px solid var(--white-primary);
  border-radius: 5px;
  color: var(--white-primary);
  width: 300px;
  margin: 6px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.37);
}

.container_input > label,
.container_input > svg {
  position: absolute;
}
.container_input > label {
  z-index: 2;
  top: -11px;
  left: 13px;
  color: var(--white-primary);
}
.container_input > svg {
  width: 20px;
  height: auto;
  right: 12px;
  top: 12px;
  cursor: pointer;
  color: var(--white-primary);
  z-index: 2;
}
.container_input input::placeholder {
  color: var(--white-primary);
}
