.list_item_container {
  height: 300px;
  transition: background 0.8s, filter 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

.border {
  height: 100%;
  width: 100%;
  background: transparent;
  transition: border 1s;
  position: relative;
}

.list_item_container,
.list_item_container_not_found {
  background-size: 300px;
  outline: 1px solid;
}
.list_item_container:hover {
  background-size: 380px;
  filter: grayscale(0);
}
.list_item_container:hover .list_item_name {
  opacity: 1;
}

.list_item_name,
.photo_not_found {
  color: #fff;
  opacity: 0;
  transition: opacity 1s;
  text-transform: uppercase;
  padding: 15px;
  font-size: 19px;
  text-shadow: 2px 0px black;
}
.photo_not_found {
  opacity: 1;
  text-align: center;
}
.text_not_found {
  color: yellow;
  font-size: 30px;
}
.list_item_see_more {
  outline: 1px solid red;
}
