.paginator_container,
.paginator_container > input,
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: none;
  color: var(--white);
  padding: 10px;
  background-color: transparent;
}
.buttons,
.paginator_container > input {
  margin-top: 0;
  gap: 10px;
  cursor: pointer;
}

.paginator_container > input:hover,
.buttons > button:hover {
  text-decoration: underline;
}
.paginator_container > input:disabled {
  cursor: default;
  color: #424242;
  text-decoration: none;
}
.paginator_container {
  border: 1px solid;
}
